<div class="jm-container">
<div class="jumbotron">
  <div class="jm-inside">
  <h1>Hello, Docker-sinboUI!</h1>

  <span class="label label-primary">Sinatra</span>
  <span class="label label-success">Bootstrap</span>
  <span class="label label-default">Ruby</span>
  <p></p>
  <p><a href="https://github.com/jianhangzhang/docker-sinboUI">https://github.com/jianhangzhang/docker-sinboUI</a></p>
  </div>
</div>
</div>