<div class="jumbotron">
  <h1>Hello, Docker-sinboUI!</h1>

  <span class="label label-primary">Sinatra</span>
  <span class="label label-success">Bootstrap</span>
  <span class="label label-default">Ruby</span>
</div>