<table class="table table-striped">
  <thead>
  <tr>
    <th>#</th>
    <th>Id</th>
    <th>Created</th>
    <th>RepoTags</th>
  </tr>
  </thead>

  <tbody>
  <% @resp_json.each do |r| %>
      <tr>
        <td><%= @resp_json.index(r) + 1 %></td>
        <td><%= r['Id'] %></td>
        <td><%= r['Created'] %></td>
        <td><%= r['RepoTags'] %></td>
      </tr>
  <% end %>
  </tbody>
</table>