<div class="jm-container">
<form action="/create_a_container" method="post">
  name: <input type="text"> <br>
  hostname: <input type="text"> <br>
  image: <input type="text"> <br>
  command: <input type="text"> <br>
  <input type="submit" value="Create">
</form>
</div>